body{
  font-family: Arial, sans-serif;
  /* background-color: #111; */
  background-color: #1b1b1b;
  /* color: #f2f3f5; */
  color: #d3f3ef;
  overflow: hidden;
}
.sec {
  display: flex; 
}

.sec1{
  height: 100vh;
  /* background-color: #111; */
  background-color: #1b1b1b;
  width: 150%;
  padding: 10px;
  
}

.sec1 a{
  color: #d3f3ef ;
  text-decoration: none;
  padding: 10px;
  display: block;

}
.sec1 li{
  color: #f2f3f5;
  padding: 7px 10px;
  margin: 0;
  display: block;
}
.sec1 li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: #0fdb82;
}
.sec1 ul{
  padding: 0px;
  margin: 0px;
  list-style: none;

}
.sec1 h2{
  color: #0fdb82;
}

.sec2{
  /* display: flex; */
  height: 100vh;
  width: 750%;
  margin-right: 2%;
  /* flex-grow: 1; */
  /* flex-direction: column; */
 
}
.sec21{
  height: 6%;
  display: flex;
  justify-content: flex-end;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-bottom: 5px; */
  
}
.profile {
  display: flex;
  align-items: center;
  padding-right: 45px;
  /* margin-bottom: 15px; */
}
.logout-btn{
  background-color: red;
    color: #f2f3f5;
    /* padding: 0px 15px; */
    width: 7%;
    font-size: medium;
    height: 80%;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sec22{
  display: flex;  
  height: 87%;
  /* height: 100vh; */
  overflow-y: auto;
  /* padding: 20px; */
  border-radius: 5px;
  background-color: black;
  /* background-color: #0b0b0b ; */
}


.logo{
  align-items: center;
  display: flex; 
  /* align-items: center;  */
  justify-content: center;
}

.logo img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0px;
  align-items: center;
}
