

.navbar {
    background-color: #333;
    padding: 10px 0;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-item a:hover {
    color: #ff6347; /* Change color on hover */
  }
  